html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
}

body {
  margin: 0;
}

section {
  display: flex;
  Padding: .75rem;
  margin-left: .25em
}

section div {
  border-left: solid;
  width: 25%;
  margin: 0;
}


img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .2em;
}


h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  padding-left: .5em;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

p {
  padding-left: .75em;
  line-height: 1.5;
  margin: 0;
}

p :nth-child(1) {
  font-size: .875rem;
  font-style: italic;
}
p :nth-child(2) {
  font-size: 1rem;
}

.btn {
  color: #f2f2f2;
  background-color: #333;
  border-radius: 8px;
  display: block;
  text-align: left;
  padding: .6em;
  margin: 1.5em 0.5em;
  font-size: .875em;
  font-weight: bold;
}

.card1){
  background-color: #e2e2e2;
}

.card2{
  background-color: #ccc;
}
.card3{
  background-color: #aaa;
}
.card4{
  background-color: #999;
}
